# Silicon Labs
firmware/.projectlinkstore
firmware/.uceditor
firmware/.vscode/c_cpp_properties.json
firmware/autogen
firmware/cmake_gcc/kee_smart_opener.cmake
firmware/cmake_gcc/kee_smart_opener_project.cmake
firmware/cmake_gcc/build
firmware/config/rail/slc_args.json
firmware/simplicity_sdk_2025.6.2
firmware/trashed_modified_files

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
